@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background: url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    color: #ffffff;

}


.container {
    position: fixed;
    left: 815px;
    bottom: 65px;
    width: 400px;
    height: 400px;
    padding: 15px 25px;
   

}

.main-width {
    width: 1200px;
    
}

.hero header .logo h2 a {
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.hero header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

nav ul li {
    list-style: none;
    display: inline-block;

}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus
{
border-bottom: 2px solid white;
}

nav ul li.active a{
    border-bottom: 2px solid white;
}

.content{
    padding-top: 140px;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin:auto;
}


.content .main-text h1 {
    font-size: 80px;
    line-height: 1;
    margin: 0px 0px 45px;
}
.content .main-text h3 {
    font-size: 18px;
    font-weight: 600;
}

.content .main-text p{
    max-width: 100%;
    width: 480px;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}

.content .main-text p a{
    max-width: 100%;
    width: 480px;
    color: white;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}

.contain {
    position: relative;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 10px;
    width: 360px;
    height: 200px;
    display: inline-block;
    padding: 15px 10px;
    
}

.contain:hover {
    transform: scale(1.1);
}


.contain .imgBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #ff0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    padding: 60px 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contain .imgBox h2 {
    letter-spacing: 1;
}

.contain .imgBox .size {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain .imgBox .size span {
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-right: 5px;
}

@media (max-width: 1200px) {
    .main-width {
        width: 100%;
        padding: 0 20px;
    }

    .hero header .logo h2 a {
        font-size: 28px;
    }

    nav ul li a {
        margin-left: 40px;
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        position: fixed;
        left: 595px;
        bottom: 195px;
        width: 300px;
        height: 300px;
        padding: 15px 25px;
    }

    .content .main-text h1 {
        font-size: 60px;
    }

    .content .main-text p,
    .content .main-text p a {
        width: 100%;
        font-size: 14px;
    }

 
}

@media (max-width: 768px) {
    .hero header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        padding: 0;
    }

    nav ul li a {
        margin-left: 20px;
        font-size: 13px;
    }

    .content .main-text h1 {
        font-size: 50px;
    }

    .content .main-text p,
    .content .main-text p a {
        font-size: 13px;
    }



    .container {
        position: fixed;
        left: 365px;
        bottom: 275px;
        width: 200px;
        height: 200px;
        padding: 15px 25px;
    }
}

@media (max-width: 576px) {
    .hero header .logo h2 a {
        font-size: 24px;
    }

    nav ul li a {
        margin-left: 10px;
        font-size: 12px;
    }

    .content .main-text h1 {
        font-size: 40px;
    }

    .content .main-text p,
    .content .main-text p a {
        font-size: 12px;
    }


    .container {
        position: fixed;
        left: 215px;
        bottom: 275px;
        width: 200px;
        height: 200px;
        padding: 15px 25px;
    }
}

.portfolio {
    padding: 50px 0;
}

.portfolio h2 {
    text-align: center;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ddd;
    padding: 90px;
    padding-top: 35px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    position: relative;
}

.project h3 {
    margin-top: 0;
    padding-bottom: 10px;
}

.project p {
    font-size: 14px;
    padding-bottom: 10px;
    
}

.btn-container {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #f581d0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #f573b8;
}